body {
    margin: 0;
    min-width:400px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #5f9341;
    border: 1px solid #5f9341;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

button:focus {
  outline: 3px solid rgb(64, 144, 218);
}

#dlt-btn {
    background-color: white;
    color: #5f9341;
}

input {
    border: 1px solid #5f9341;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 4px;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}